<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    {{> nav}}
    <div class="container">
        {{{ content }}}
    </div>
    <hr />
    <div class="container">
        <footer id="footer">
            {{> footer}}
        </footer>
    </div>
</body>
</html>
