<div>
    <h1>SAMPLE FORM</h1>

    <form role="form" method="post" action="/api/v1/posts" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" name="title" id="title" style="width: 700px" type="text" />
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body" style="width: 700px" rows="10"></textarea>
      </div>
      <div class="form-group">
        <label for="assets[0][file]">Asset</label>
        <input type="file" id="assets[0][file]" name="assets[0][file]" />
      </div>
      <div class="form-group">
        <label for="tags[0][name]">Tag 1</label>
        <input type="text" id="tags[0][name]" name="tags[0][name]" />
        <label for="tags[1][name]">Tag 2</label>
        <input type="text" id="tags[1][name]" name="tags[1][name]" />
      </div>

      <button type="submit" value="Save" class="btn btn-large btn-primary">Save</button>
    </form>
</div>
