<script src="/snack/static/engine.io.js"></script>

<script>

    var socket = new eio.Socket('ws://localhost:8181');

    socket.on('message', function (msg) {

        var job = JSON.parse(msg);

        var rowClass = '';

        if (job.state === 'active') {
            rowClass = 'active';
        }
        if (job.state === 'complete') {
            rowClass = 'success';
        }
        if (job.state === 'failed') {
            rowClass = 'danger';
        }

        var duration = job.duration ? job.duration + 'ms' : '';

        var $job = $('#job-' + job.id);
        var rowHtml = '<td>'+ job.id +'</td><td>' + job.state + '</td><td>' + job.type + '</td><td>' + (job.progress || '') + '</td><td>' + duration + '</td>';

        if ($job.length) {

            $job.removeClass().addClass(rowClass);
            $job.html(rowHtml);

        } else {
            $('#debug').find('tbody').prepend('<tr id="job-'+ job.id +'" class="'+ rowClass +'">' + rowHtml + '</tr>');
        }

    });

</script>

<div id="debug">
    <table class="table table-striped">
        <thead>
            <th>Job Id</th>
            <th>State</th>
            <th>Hook</th>
            <th>Progress</th>
            <th>Duration</th>
        </thead>

        <tbody>
        {{#each list.items}}
            <tr class="{{state}}">
                <td>{{id}}</td>
                <td>{{state}}</td>
                <td>{{type}}</td>
                <td>{{progress}}</td>
                <td>{{#if duration}}{{duration}}ms{{/if}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>
</div>
