<form name="form" novalidate>
  <legend>Post</legend>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" ng-model="post.title" />
  </div>
  <div class="form-group">
    <label>Body</label>
    <textarea class="form-control" name="body" rows="10" ng-model="post.body"></textarea>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Assets</h4>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" ng-model="asset.title" />
        <label>File</label>
        <input type="file" ng-model="file" change="upload(file)" />
      </div>
    </div>
  </div>

  <hr>

  <button ng-click="save()" class="btn btn-large btn-primary">Save</button>
  <button ng-click="remove()" class="btn btn-large btn-danger">Remove</button>

</form>
