<form name="form" novalidate>
  <legend>Post</legend>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label class="sr-only">Headline</label>
        <text-angular
          placeholder="[Snappy Headline]"
          name="headline"
          ng-model="post.headline"
          ta-toolbar-group-class="btn-group btn-group-sm"
          ta-toolbar="[['bold','italics']]"
          ta-text-editor-class="ta-form-control ta-input-lg"
          ta-html-editor-class="ta-form-control ta-input-lg"></text-angular>
      </div>
      <div class="form-group">
        <label class="sr-only">Body</label>
        <text-angular
          placeholder="[The story.]"
          name="body"
          ng-model="post.body"
          ta-toolbar-group-class="btn-group btn-group-sm"
          ta-toolbar="[['h1','h2','h3'],['p','ol','ul'],['bold','italics', 'underline']]"
          ta-text-editor-class="ta-form-textarea"
          ta-html-editor-class="ta-form-textarea"></text-angular>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Tags</h4>
        </div>
        <div class="panel-body">

          <div ng-repeat="tag in post.tags">
            <h4>
              <span class="label label-info">{{tag.name}}</span>
              <button type="button" class="close" aria-hidden="true" ng-click="removeTag(tag)">&times;</button>
            </h4>
          </div>

          <div class="form-group">
            <label class="sr-only">New Tag</label>
            <input
              type="text"
              placeholder="New tag..."
              typeahead="tag as tag.name for tag in tagsAutocomplete($viewValue) | filter:$viewValue"
              ng-model="selectedTag"
              typeahead-loading="loadingTags"
              typeahead-on-select="addTag(selectedTag)" />
            <i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Assets</h4>
        </div>
        <div class="panel-body">

          <div class="row">
            <div ng-repeat="asset in post.assets">
              <div class="col-xs-6 col-md-4">
                <a class="thumbnail" ng-click="editAsset(asset)">
                  <img ng-src="{{asset.url}}" />
                </a>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>File</label>
            <input type="file" ng-model="upload.file" change="createAsset(upload)" />
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr>

  <button ng-click="save()" class="btn btn-large btn-primary">Save</button>
  <button ng-click="remove()" class="btn btn-large btn-danger">Remove</button>

</form>

