<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/snack/static/snack-admin.css"/>
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-sm-3 center-block" style="float:none;">
          <form class="form-signin" role="form" action="/snack/login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>
            {{#if error}}<div class="alert alert-danger">Sign in error, please try again...</div>{{/if}}
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="Email or Username" required autofocus>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>
      </div>

    </div>

  </body>
</html>
