<script src="/socket.io/socket.io.js"></script>
<script>

    socket = io.connect('/jobs');

    socket.on('job', function (data) {
        // console.log('job:', data);

        var job = data.job;

        var rowClass = '';

        if (data.event === 'progress') {
            rowClass = 'active';
        }
        if (data.event === 'complete') {
            rowClass = 'success';
        }
        if (data.event === 'failed') {
            rowClass = 'danger';
        }
        if (data.event === 'retry') {
            rowClass = 'warning';
        }

        var duration = job.duration ? job.duration + 'ms' : '';

        var $job = $('#job-' + job.id);
        var rowHtml = '<td>'+ job.id +'</td><td>' + data.event + '</td><td>' + job.type + '</td><td>' + (job.progress || '') + '</td><td>' + duration + '</td>';

        if ($job.length) {

            $job.removeClass().addClass(rowClass);
            $job.html(rowHtml);

        } else {
            $('#debug').find('tbody').prepend('<tr id="job-'+ job.id +'" class="'+ rowClass +'">' + rowHtml + '</tr>');
        }

    });

</script>

<div id="debug">
    <table class="table table-striped">
        <thead>
            <th>Job Id</th>
            <th>Event</th>
            <th>Hook</th>
            <th>Progress</th>
            <th>Duration</th>
        </thead>

        <tbody>
        {{#each list.items}}
            <tr>
                <td>{{id}}</td>
                <td>{{state}}</td>
                <td>{{type}}</td>
                <td>{{progress}}</td>
                <td>{{#if duration}}{{duration}}ms{{/if}}</td>
            </tr>
        {{/each}}
        </tbody>

    </table>
</div>
